section#banner {
  margin-bottom: 50px;
  position: relative;
  height: 400px;

  @media screen and (max-width: 600px) {
    height: auto;
    width: 100%;
    padding-bottom: 80%;
  }
  @media #{$mobile-breakpoint} {
    margin-bottom: 20px;
  }
  .image {
    position: absolute;
    @include size(100% 100%);
    @include retina-image('/images/banner', nil, 'jpg');
    background: {
      position: center center;
      repeat: no-repeat;
      size: cover;
    }
  }
}

section.content {
  position: relative;
  margin-bottom: 50px;

  @media #{$mobile-breakpoint} {
    margin-bottom: 20px;
  }
  .contents {
    position: relative;
    z-index: 1;
    margin-right: 60%;
    padding: 25px;
    min-height: 350px;
    background: rgba(255,255,255,0.85);

    @media #{$tablet-breakpoint} {
      margin-right: 50%;
    }
    @media #{$mobile-breakpoint} {
      margin: 0 0 20px 0;
      padding: 0;
      min-height: 0;
      background: none;
    }
    h2 {
      margin: 24px 0 12px 0;
      font: {
        size: 24px;
        weight: 700;
      }
      line-height: 24px;
      color: $alt;
      text-transform: uppercase;
      &:first-child {
        margin-top: 0;
      }
    }
    h3 {
      margin: 0 0 6px 0;
      font: {
        size: 20px;
        weight: 700;
      }
      line-height: 20px;
      color: $med;
    }
    p {
      margin-top: 0;

      &.small {
        margin: 0 0 6px 0;
        font: {
          size: 12px;
          style: italic;
        }
        line-height: 12px;
      }
    }
    a {
      color: $med;
    }
    table {
      margin-bottom: 12px;
      width: 100%;
      text-size: 16px;
      line-height: 20px;

      &:last-child {
        margin-bottom: 0;
      }
      th {
        width: 50%;
        padding-right: 5px;
        text-align: right;
        font-weight: 600;
      }
      td {
        width: 50%;
        padding-left: 5px;
        text-align: left;
      }
    }
  }
  .image {
    @include position(absolute, 0px 0 0 0px);
    z-index: 0;
    @include size(100% 100%);
    @include retina-image('/images/entrance', nil, 'jpg');
    background: {
      position: center center;
      size: cover;
    }

    @media #{$mobile-breakpoint} {
      position: relative;
      height: auto;
      width: 100%;
      padding-bottom: 80%;
    }
  }
  &.promotions {
    .contents {
      margin-right: 0;
      margin-left: 60%;

      @media #{$tablet-breakpoint} {
        margin-left: 50%;
      }
      @media #{$mobile-breakpoint} {
        margin: 0 0 20px 0;
      }
    }
    .image {
      @include retina-image('/images/tiger', nil, 'jpg');
    }
  }
  &.birthdays {
    .image {
      @include retina-image('/images/cages', nil, 'jpg');
    }
  }
}
