$white: white;
$dark:  #493829;
$med:   #855723;
$alt:   #404f24;

$font-custom: 'Open Sans',Helvetica,sans-serif;

$mobile-breakpoint: "screen and (max-width: 700px)";
$tablet-breakpoint: "screen and (max-width: 1000px)";
